/* ===== GENERAL ===== */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #dc5f00, #cf0a0a);
  display: flex;
}

/* ===== SIDEBAR ===== */
.sidebar {
  width: 230px;
  height: 100vh;
  background: #000;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
  color: #ecf0f1;
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
}

.sidebar li {
  list-style: none;
  margin: 15px 0;
}

.sidebar a {
  text-decoration: none;
  color: #ecf0f1;
  padding: 12px 20px;
  display: block;
  font-size: 16px;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #7f8caa;
  border-left: 4px solid #cf0a0a;
}

.sidebar .logout {
  color: #ff7675;
}

.sidebar .logout:hover {
  background-color: #c0392b;
}

.main-content {
  margin-left: 230px;
  padding: 25px;
  width: calc(100% - 230px);
  overflow-x: hidden;
}

.inpo1 {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: calc(100% - 50px);
}

.inpo1 h1 {
  margin: 0;
  font-size: 26px;
  color: #2c3e50;
}

section {
  margin-top: 20px;
}

/* kudakan */
.kudakan1 {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
